@import './partials/general';
@import './partials/home_header';
@import './partials/home_main';
@import './partials/_footer';
@import './partials/home_modal';
@import './partials/library_header';
@import './partials/library_main';
@import './partials/modal_auth';
@import './partials/modal_auth2';
@import './partials/modal_film';
@import './utils/mixins';
@import './partials/mixins';
@import './partials/loader';

