$font-primary: 'Roboto', sans-serif;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-bold: 700;
$website-main-color: rgb(255, 107, 8);
$website-color-secondary: rgb(39, 46, 52);

//text colors
$text-color-light: rgb(255, 255, 255);
$text-color-dark: rgb(0, 0, 0);
$text-color-additional-primary: rgb(255, 107, 8);
$text-color-additional-secondary: rgb(84, 84, 84);

//font sizes

//descriptions, header menu, buttons text etc
$font-size-small: 12px;
//h2
$font-size-medium: 20px;
//h1
$font-size-large: 30px;
//*others
$font-size-header-search: 1.4rem;
$font-size-footer: 1.6rem;

//footer
$footer-color-background: rgb(247, 247, 247); //#f7f7f7
$footer-color-text: $text-color-additional-secondary; //#545454
$font-size-footer-mobile: 1.4rem;
$breakpoint-modal-squad-width: 1777px;

//hover and focus colors
$hover-color-primary: rgb(255, 107, 8);
$hover-color-secondary: rgb(160, 0, 0);
$hover-color-sec-darker: rgb(107, 0, 0);

//color for underlines and error message in header
$additional-color: rgb(255, 0, 27);

//*header sticky (if we want to do it like it's done in an example)
$background-image-sticky: linear-gradient(#ff001bb3, #000000b3);

//breakpoints
$breakpoint-mobile: 30em; // 480px
$breakpoint-tablet: 48em; //768px
$breakpoint-desktop: 80em; //1280px
$breakpoint-desktop-large: 120em; //1920px

$font-primary: 'Roboto';
$font-secondary: 'Inter', sans-serif;

$main-text-color: #000000;
$second-text-color: #ffffff;
$third-text-color: #ff6b08;

// $breakpoint-mobile: 480px;
// $breakpoint-tablet: 768px;
// $breakpoint-desktop: 1280px;

body {
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: #000000;
  &:link,
  &:hover {
    text-decoration: none;
  }
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  transition-property: visibility, opacity, transform;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
