@import './general';

//mobile
.header {
  background-image: url('/src/images/home_background_phone@3x.jpg');
  background-size: cover;
  padding: 40px 20px 44px 20px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 54px;
  }
  &__icon-main {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: $second-text-color;
    visibility: visible;
  }
  &__logo:hover > svg *,
  &__logo:hover &__main-link,
  &__logo:hover {
    stroke: $third-text-color;
    transition: 0.4s;
    color: $third-text-color;
    transition: 0.4s;
    cursor: pointer;
  }

  &__links-container {
    display: flex;
    gap: 40px;
  }

  &__links {
    font-family: $font-primary;
    color: $second-text-color;
    font-size: 12px;

    &:hover,
    &:focus {
      color: $third-text-color;
      transition: 0.4s;
    }
  }
  &__current-link {
    &::after {
      content: '';
      display: flex;
      width: 34px;
      height: 3px;
      border-radius: 2px;
      background-color: #ff001b;
    }
  }
  &__main-link {
    visibility: hidden;
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: absolute;
    margin-left: 265px;
  }
  &__button-icon {
    width: 12px;
    height: 12px;
    fill: none;
    stroke: $second-text-color;

    &:hover,
    &:focus {
      stroke: $third-text-color;
      transition: 0.4s;
    }
  }
  &__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__input {
    color: $second-text-color;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $second-text-color;
    width: 280px;

    &:hover,
    &:focus {
      color: $third-text-color;
      transition: 0.4s;
      border-bottom: 1px solid $third-text-color;
      outline: none;
    }
  }
  &__error {
    visibility: hidden;
    margin-top: 16px;
    color: #ff001b;
    font-size: 14;
    font-family: $font-primary;
  }

  //tablet
  @media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
    .header {
      background-image: url('/src/images/home_background@3x.jpg');
      background-size: cover;
      padding: 40px 33px 45px 33px;

      &__main-link {
        visibility: visible;
        font-size: 30px;
        font-weight: 500;
        font-family: $font-primary;
        color: $second-text-color;
      }
      &__form {
        justify-content: center;
      }
      &__input {
        width: 360px;
      }
      &__button {
        margin-left: 345px;
      }
      &__error {
        text-align: center;
      }
    }
  }

  //desktop
  @media screen and (min-width: $breakpoint-desktop) {
    .header {
      background-image: url('/src/images/home_background@4x.jpg');
      background-size: cover;
      padding: 40px 33px 45px 33px;

      &__main-link {
        visibility: visible;
        font-size: 30px;
        font-weight: 500;
        font-family: $font-primary;
        color: $second-text-color;
      }
      &__form {
        justify-content: center;
      }
      &__input {
        width: 394px;
      }
      &__button {
        margin-left: 250px;
      }
      &__error {
        margin-top: 20px;
        text-align: center;
      }
    }
  }
}
