.modal-film__container {
    width: 280px;
    height: 940px;
    background-color:$second-text-color;
    margin-top: 20px;
    overflow-y: auto;
}
.modal-film__icon-close {
    width: 30px;
    height: 30px;
    display:flex;
    flex-direction: row;
}