// table {
//     table-layout: fixed;
//     width: 100%;
//     padding-bottom: 20px;
// }

// .modal-film {
//     width: 280px;
//     height: 500px;
//     position: absolute;

//     transform: translate(-50%, -50%);
//     overflow: scroll;
//     background-color: var(--header-text-color);

//     @media(max-width:768px) {
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         width: 704px;
//         height: 552px;
//         overflow: hidden;
//     }

//     @media(max-width:1280px) {
//         width: 806px;
//         height: 558px;
//     }

//     &--add {
//         margin-bottom: 20px;
//     }

//     &--padding {
//         padding: 40 20 20 20;

//         @media(width:768px) {
//             padding: 40px 72px 40px 36px;
//             display: flex;
//         }

//         @media(width:1280px) {
//             padding: 40px 12px;

//         }
//     }

//     &--style {
//         background: var(--accent-text-color);
//         border-radius: 5px;
//         padding: 1px 10px;
//         color: var(--header-text-color);
//     }

//     &__btn {
//         position: absolute;
//         right: 8px;
//         top: 8px;
//         z-index: 1;
//     }

//     &__close {
//         stroke: var(--gallery-text-color);
//         width: 30px;
//         height: 30px;

//     }

//     &__img-cont {
//         position: relative;
//         width: 100%;
//         margin-bottom: 20px;

//         @media screen and (max-width:768px) {
//             min-width: 264px;
//             margin-right: 68px;
//             margin-bottom: 0;
//         }

//         @media screen and (max-width:1280px) {
//             min-width: 375px;
//             margin-right: 16px;
//         }
//     }

//     &__img {
//         margin-left: auto;
//         margin-right: auto;
//         display: block;
//         width: 240px;
//         height: auto;
//         border-radius: 5px;

//         @media(max-width:768px) {
//             width: 264px;
//             height: auto;
//         }

//         @media(max-width:1280px) {
//             width: 300px;
//             height: auto;
//         }
//     }

//     &__name {
//         margin-bottom: 20px;
//         text-transform: uppercase;
//         font-size: 20px;
//         line-height: 1.15;

//         @media(max-width:1280px) {
//             font-size: 30px;
//             line-height: 1.16;
//         }
//     }

//     // &__rating {
//     //   display: table;
//     //   text-indent: initial;
//     // }

//     &__item-name {
//         width: 100px;
//         color: var(--category-text-color);
//     }

//     &__item-description {
//         &:not(:last-child) {
//             margin-bottom: 8px;
//         }
//     }

//     &__title {
//         text-transform: uppercase;
//         margin-bottom: 8px;
//     }

//     &__description {
//         line-height: 1.66;
//     }

//     // &__to-watched {
//     //   margin-right: 20px;

//     //   @include media(768px) {
//     //     margin-right: 15px;
//     //   }
//     // }

//     &__to-queue {
//         border: 1px solid var(--gallery-text-color);
//         color: var(--gallery-text-color);
//         transition: transform 0.5s linear, box-shadow 0.5s linear;

//         &:hover,
//         &:focus {
//             transform: scale(1.07);
//             box-shadow: 2px 7px 27px 1px var(--category-text-color);
//         }
//     }

//     &__style {
//         width: 100%;

//         @media(max-width:768px) {
//             width: 264px;
//         }

//         @media(max-width:1280px) {
//             width: 387px;
//         }
//     }

//     &__buttons {
//         width: 100%;
//         display: flex;

//         @media(max-width:767px) {
//             flex-wrap: wrap;
//             justify-content: center;
//         }

//         @media(max-width:768px) {
//             justify-content: flex-start;
//         }
//     }

//     &__to-trailer {
//         width: 80px;
//         height: 80px;
//         position: fixed;
//         display: block;
//         z-index: 1;
//         top: 190px;
//         left: 35%;

//         &.none {
//             display: none;
//         }

//         @media(max-width:767px) {
//             top: 35%;
//             left: 130px;
//         }

//         @media(max-width:1280px) {
//             top: 40%;
//             left: 160px;
//         }
//     }

//     &__youtube {
//         width: 80px;
//         height: 80px;
//         fill: #FF0000;

//         &:focus,
//         &:hover {
//             fill: #282828;
//         }

//         ;

//     }
// }

// .btns {
//     width: 150px;
//     margin-bottom: 10px;
//     border-radius: 5px;
//     margin-right: 20px;
//     // &:not(:last-child){margin-right: 20px;}

//     @media(max-width:768px) {
//         margin-bottom: 0px;
//         width: 140px;

//         &:not(:last-child) {
//             margin-right: 15px;
//         }
//     }

//     @media(max-width:1280px) {
//         width: 150px;
//     }
// }

// SMP - Save Modal Project
// (,,◕　⋏　◕,,)

// $whiteColor: #fff;
// $blackColor: #000;
// $redColor: #ff001b;
// $primaryColor: #ff6b08;
// $secondColor: #ff6b01;
// $headerColor: #182025;
// $modalTextColor: #8c8c8c;
// $modalButtonCollor: #ff6b01;
// $modalTextBackgroundColor: #f7f7f7;
// $footerBgColor: #f7f7f7;
// $footerTextColor: #545454;
// $backdropColor: rgba(0, 0, 0, 0.6);

$shift: 250ms ease;
$shiftInputMobile: 1000ms ease;
$shiftInputDesktop: 500ms ease;

// @mixin mq($width, $type: min) {
//   @if map_has_key($breakpoints, $width) {
//     $width: map-get($breakpoints, $width);
//     @if $type==max {
//       $width: calc($width - 0.02px);
//     }
//     @media screen and (#{$type}-width: $width) {
//       @content;
//     }
//   }
// }

@mixin text($weight, $size, $line, $color) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line;
  color: $color;
}

.backdrop-movie {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);

  padding: 20px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.modal-movie-is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-movie {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 95%;
  overflow-y: auto;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 2;
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: visible;

  //   @include mq(tablet) {
  //     max-width: 704px;
  //     display: flex;
  //     flex-direction: row;
  //     padding: 40px;
  //     height: auto;
  //   }
  //   @include mq(desktop) {
  //     max-width: 806px;
  //   }
  //   @include mq(desktop) {
  //     padding: 40px 12px;
  //   }
  &__poster-box {
    display: flex;
    justify-content: center;
  }
  &__poster {
    max-height: 357px;
    object-fit: contain;
    padding-top: 48px;
    border-radius: 5px;
    // @include mq(tablet) {
    //   max-height: 373px;
    //   display: flex;
    //   flex-direction: column;
    //   padding-top: 0px;
    // }
    // @include mq(desktop) {
    //   max-height: 478px;
    //   width: 375px;
    //   object-fit: cover;
    // }
  }
  &__btn-close {
    font-size: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    position: absolute;
    top: 8px;
    right: 16px;
  }
  &__item {
    list-style-type: none;
  }
  &__info {
    padding-top: 20px;
    // @include mq(tablet) {
    //   padding-top: 0px;
    //   padding-left: 68px;
    // }
    // @include mq(desktop) {
    //   padding-left: 16px;
    // }
  }
  &__title {
    // @include text(500, 20px, 1.2, #000);
    text-transform: uppercase;
    // @include mq(desktop) {
    //   font-size: 30px;
    // }
  }
  &__list {
    // @include text(500, 12px, 1.3, #000);
    text-transform: capitalize;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 90px 2fr;
    gap: 8px;
  }
  &__item--label {
    color: #8c8c8c;
  }
  &__list > li > span:first-child {
    color: #fff;
    background-color: #ff6b01;
    border-radius: 5px;
    padding: 1px 8px;
  }
  &__list > li > span {
    color: #8c8c8c;
  }
  &__list > li > span:last-child {
    color: #000;
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 1px 4px;
  }
  &__description {
    padding-top: 20px;
    // @include mq(tablet) {
    //   max-width: 260px;
    // }
    // @include mq(desktop) {
    //   max-width: 391px;
    // }
  }
  &__about {
    // @include text(500, 12px, 1.3, #000);
    text-transform: uppercase;
  }
  &__text {
    // @include text(500, 12px, 1.7, #000);
    padding-top: 8px;
  }
  &__btns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 20px;
    // @include mq(tablet) {
    //   gap: 10px;
    // }
  }
  &__box {
    display: flex;
    gap: 10px;
    width: 100%;
  }

  &__btn-watched,
  &__btn-queue {
    // @include text(500, 12px, 1.3, #000);
    border: 1px solid #000;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    text-transform: uppercase;
    min-height: 44px;
    padding: 0 5px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

    &:hover {
      background-color: #ff6b01;
      color: #fff;
      border: none;
    }

    // @include mq(tablet) {
    //   width: 125px;
    // }
    // @include mq(desktop) {
    //   width: 136px;
    // }
  }

  &__btn-watched,
  &__btn-queue {
    flex-basis: 50%;
    width: calc(50% - 5px);

    // @include mq(tablet) {
    //   width: calc(50% - 5px);
    // }
    // @include mq(desktop) {
    //   width: calc(50% - 5px);
    // }
  }
}
